[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pycodestyle = "*"
pydocstyle = "*"

[packages]
font-connection = {git = "https://github.com/pimoroni/fonts-python",subdirectory = "font-connection"}
font-fredoka-one = "*"
fonts = "*"
inky = {git = "https://github.com/pimoroni/inky.git",subdirectory = "library"}
invoke = "*"
numpy = "*"
pillow = "*"
pr-inky-display = {path = "."}
pyyaml = "*"
rpi-gpio = "*"
smbus2 = "*"
spidev = '*'
tabulate = "*"

[pipenv]
allow_prereleases = true
